<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "ПОПУГ АУФ!" %></h1>
  <p></p>
</section>

<section class="row">
  <article class="column">
  </article>
  <article class="column">
  </article>
</section>
