<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Accounting", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><%= link "Мой счет", to: Routes.transaction_path(@conn, :balance) %></li>
            <%= if @current_user && @current_user.role in [:admin, :accountant] do %>
              <li><%= link "Статистика по компании", to: Routes.page_path(@conn, :company_dashboard) %></li>
              <li><%= link "Аналитика", to: Routes.page_path(@conn, :analytics) %></li>
            <% end %>
            <%= if @current_user do %>
              <li><%= @current_user.email %></li>
              <li><%= link "Log out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li><%= link "Log in", to: Routes.pow_assent_authorization_path(@conn, :new, :oauth2) %></li>
            <% end %>
            
          </ul>
        </nav>
        Аккаунтинг
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
